{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container login-page-container">
        <div class="row justify-content-center w-100"> <div class="col-md-7 col-lg-5 col-xl-4"> <div class="login-form-card"> <form method="POST" action="">
                        {{ loginform.csrf_token }}
                        <legend>Entrar</legend>
                        <fieldset>
                            <div class="form-group">
                                {{ loginform.username.label(class="form-control-label") }}
                                {% if loginform.username.errors%}
                                    {{ loginform.username(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for erro in loginform.username.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                    </div>
                                {% else %}
                                    {{ loginform.username(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ loginform.password.label(class="form-control-label") }}
                                {% if loginform.password.errors%}
                                    {{ loginform.password(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for erro in loginform.password.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                    </div>
                                {% else %}
                                    {{ loginform.password(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-check"> {{ loginform.remember(class="form-check-input") }}
                                {{ loginform.remember.label(class="form-check-label") }}
                            </div>
                        </fieldset>
                        {{ loginform.submit_login(class="btn btn-danger w-100 mt-3 login-submit-btn") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}