{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paginainicial.css') }}">
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
  <div class="container">
    <div class="center-buttons-container">
      <a href="{{ url_for('entrar') }}" class="btn btn-outline-danger btn-lg btn-custom-hover">Entrar</a>
      <a href="{{ url_for('criar_conta') }}" class="btn btn-outline-danger btn-lg btn-custom-hover">Criar usuário</a>
    </div>
  </div>
{% endblock %}